<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Users System</title>
</head>
<body>
  <div class="container mt-5 w-75">
    <div th:replace="~{fragments/header :: header(new)}"></div>
    <div class="jumbotron bg-light border border-info mt-3 py-4" style="min-height: 450px">
    
      <h1 class="display-5">New Property</h1>
      <form action="/create" method="post">
        <div class="form-group">
          <label for="type">Type:</label>
          <input type="text" class="form-control" id="type" name="type" placeholder="Type in Type of property" required>
        </div>
        <div class="form-group">
          <label for="squareFeet">Square Feet:</label>
          <input type="text" class="form-control" id="squareFeet" name="squareFeet" placeholder="Type in Square Feet" required>
        </div>
        <div class="form-group">
          <label for="yearPropery">Year of Property:</label>
          <input type="date" class="form-control" id="yearPropery" name="yearPropery"  required>
        </div>
        <div class="form-group">
          <label for="bedroomNumbers">Bedroom Numbers:</label>
          <input type="text" class="form-control" id="bedroomNumbers" name="bedroomNumbers" placeholder="Type in Numbers of Bedroom" required>
        </div>
         <div class="form-group">
          <label for="bathroomNumbers">Bathroom Numbers:</label>
          <input type="text" class="form-control" id="bathroomNumbers" name="battroomNumbers" placeholder="Type in Numbers of Bathroomroom" required>
        </div>
         <div class="form-group">
          <label for="balcony">Balcony:</label>
          <input type="text" class="form-control" id="balcony" name="balcony" placeholder="Type in Having Balcony" required>
        </div>
         <div class="form-group">
          <label for="pool">Pool:</label>
          <input type="text" class="form-control" id="pool" name="pool" placeholder="Type in Having Pool" required>
        </div>
         <div class="form-group">
          <label for="backyard">Backyard:</label>
          <input type="text" class="form-control" id="backyard" name="backyard" placeholder="Type in Having Backyard" required>
        </div>
         <div class="form-group">
          <label for="garage">Garage:</label>
          <input type="text" class="form-control" id="garage" name="garage" placeholder="Type in Having Garage" required>
        </div>
        
        <button type="submit" class="btn btn-primary mt-2" style="min-width: 100px">Save</button>
      </form>
    
  </div>
    
    </div>
 
  <div th:replace="~{fragments/header :: scripts}"></div>
</body>
</html>

